/* Dashboard.css */
.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
    url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Flower%20Shop/07.jpg");
  background-size: 50%;
  background-attachment: fixed;
}
.container1 {
  background-color: rgb(160, 155, 155, 0.5);
}

.dashboard {
  padding: 40px;
  text-align: start;
  justify-content: flex-start;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.card-text {
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
