.offer-container {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
    url("https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Flower%20Shop/06.jpg");
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  user-select: none;
}
.inside-offer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 70%;
}
.offer-text {
  font-family: "Varela Round";
  font-weight: bold;
  margin-bottom: 30px;
}
.offer-para {
  font-family: "DM Sans";
  line-height: 1.5;
}
